*.pyc
/src/settings_base.py
/settings_local.py
.project
.pydevproject
.settings
.tmp*
/var/run
/run.sh
/env
# Added by Windows testing.
pyvenv.cfg
/Scripts
/Include
/Lib
/libs
# Added to ignore Prod files.
.htaccess
errors.log
*.fcgic
/tmp
passenger_wsgi.py
# From local server
log.txt
nohup.out
