*.pyc
/src/settings_base.py
/settings_local.py
.project
.pydevproject
.settings
.tmp*
/var/run
/run.sh
/env
# Added by Windows testing.
pyvenv.cfg
/Scripts
/Include
/Lib
/libs
# Removed Sublime-related files
sftp-config.json
*.sublime-workspace
