html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.columns {
    height: 102.4%;
}
.column {
    padding: 0;
}

.table, .table td, .table tr {
    padding: 0 !important;
}

.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: transparent !important;
}

.is-dark, .has-background-dark {
    background: #1e1e1e !important;
}

#txtInput, #divOutputContainer {
    font-family: "DejaVu Sans Mono", "Anonymous Pro";
    overflow: scroll;
    height: 100%;
    font-size: 34px;
}

#txtInput {
    border: none;
    padding: 1.5em;
}

code, pre {
    height: 100%;
}

pre {
    overflow: scroll;
}

code, pre {
    margin: 0;
    padding: 0;
}

/* MANUAL STYLE OVERRIDES  */

#divOutputContainer * {
    color: #FFFFFF;
    line-height: 2em;
}

#divOutputContainer {
    padding: 2em;
}

#divOutputContainer p,
#divOutputContainer li,
#divOutputContainer dd,
#divOutputContainer dt,
#divOutputContainer blockquote {
    font-size: 34px;
    text-align: justify;
}

#divOutputContainer p {
    line-height: 1.5em;
    text-indent: 0.5em;
}

#divOutputContainer p~p {
    margin-top: 0.75em;
}

#divOutputContainer tt {
    background-color: #333333;
    color: #ffffff;
}

#divOutputContainer ol,
#divOutputContainer ul {
    padding-left: 2em;
}

#divOutputContainer ol.arabic > li {
    list-style-type: decimal;
}

#divOutputContainer ul > li {
    list-style-type: circle;
}

#divOutputContainer ul ul > li {
    list-style-type: square;
}

#divOutputContainer ol.arabic ol.arabic > li {
    list-style-type: lower-latin;
}

#divOutputContainer dt {
    font-weight: bold;
}

#divOutputContainer dd {
    margin: 0;
    padding-left: 2em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

#divOutputContainer div.section {
    padding: 0;
}

#divOutputContainer blockquote {
    border-left: 0.125em solid #FFFFFF;
    margin: 0.25em 0.25em 0.125em;
    padding: 0.0625em 0 0.0625em 0.5em;
}

#divOutputContainer h1.title {
    font-size: 4rem;
}

#divOutputContainer h2.subtitle /* H2 */ {
    font-size: 3.5rem;
    margin-top: -1em;
}

#divOutputContainer h1 /* H2 */ {
    margin-top: 0.75em;
    font-size: 3.5rem;
}

#divOutputContainer h2 /* H3 */ {
    margin-top: 0.75em;
    font-size: 3.25rem;
}

#divOutputContainer h3 /* H4 */ {
    margin-top: 0.75em;
    font-size: 2.75rem;
}

/* Warnings */

#divOutputContainer div.system-message {
    display: none;
}

/*Summary */

#divSummary1 p {
    margin-top: 16em;
    margin-bottom: 16em;
}

#divSummary2 p {
    margin-top: 7em;
    margin-bottom: 7em;
}

#divSummary3 p {
    margin-top: 8em;
    margin-bottom: 8em;
}

#divSummary4 p {
    margin-top: 6em;
    margin-bottom: 6em;
}

#divSummary5 p {
    margin-top: 4.8em;
    margin-bottom: 4.8em;
}




/* GET PARAMS CHANGES */

/* Make the warnings visible in the "warnings" view */

#divOutputContainer.show_warnings div.system-message {
    display: block !important;
}

.show_warnings .system-message,
.show_warnings .system-message-title {
    color: #333 !important;
}

/* Also, add borders to list and other elements as the lessons see fit */

.show_warnings ol,
.show_warnings ul {
    border: 4px dotted #9e9e9e;
    margin: 0.75rem 0;
}
