body {
    overflow: hidden;
}

#header, #footer {
    background-color: #2B3A44;
    font-family: 'Montserrat', sans-serif;
}

#header h1 {
    float:  right;
    font-size: 24px;
    padding: 2px 0.25em 0 0;
    line-height: 28px;
    color: hsl(0, 0% , 93%);
}

#menu li {
    font-weight: bold;
}

#menu li a {
    color: hsl(0, 0% , 93%);
}

#menu li.active a {
    color: #333;
}

.right_nav {
    font-weight: bold;
}

.right_nav label {
    font-weight: normal;
}

#editor {
    font-size: 28px;
    line-height: 32px;
    font-family: 'Space Mono', monospace;
    resize: none;
}

#editor {
    border: 2px solid hsl(0, 0% , 93%);
}

#save_as_pdf {
    margin-top: -5px;
}

#pdf-button {
    border: none;
    font-weight: bold;
    background-color: #2B3A44;
    color: hsl(0, 0% , 93%);
    padding: 4px 10px;
    margin-bottom: 2px;
}

#pdf-button:hover {
    background-color: hsl(0, 0% , 93%);
    color: #2B3A44;
}

#about {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding: 2px 0.25em 0 0;
    font-size: 28px;
    line-height: 36px;
    color: #111;
}