{% extends "base.html" %}

{% block content %}
<div id="acerca-de">

	<p>Este sitio usa el script rst2html.py.</p>

	<p>El código original del sitio está disponible en: <a href="http://github.com/anru/rsted" target="_blank">http://github.com/anru/rsted</a>.</p>

	<p>Los derechos pertenecen a <a href="https://github.com/anru" target="_blank">Andrey Rublev</a>, que previamente tenía el sitio <a href="http://rst.ninjs.org" target="_blank">rst.ninjs.org</a>, con los siguientes derechos:

		<blockquote>Quick reStructuredText reference Copyright © rst.ninjs.org, 2011</blockquote>
	</p>

	<p>Dado que el repositorio original fue archivado por el autor original y su sitio ya no está en línea, hice este nuevo sitio basado en su código, con modificaciones de estilo y traducción parcial (principalmente).
	</p>

	<p>El nuevo repositorio se encuentra en: <a href="https://github.com/ramoscarlos/rsted" target="_blank">https://github.com/ramoscarlos/rsted</a>.</p>
</div>
{% endblock %}
