{% extends "base.html" %}

{% block content %}
<div id="about">

	<p>This site uses the rst2html.py script.</p>

	<p>The original code for the project is stored at: <a href="http://github.com/anru/rsted" target="_blank">http://github.com/anru/rsted</a>.</p>

	<p>All rights belong to <a href="https://github.com/anru" target="_blank">Andrey Rublev</a>, who previously had the online editor at <a href="http://rst.ninjs.org" target="_blank">rst.ninjs.org</a>, with the following copyright notice:

		<blockquote>Quick reStructuredText reference Copyright © rst.ninjs.org, 2011</blockquote>
	</p>

	<p>Since the original repository was archived by the author, and its online editor is no longer available online, I created this site based on his code, with modifications to style.</p>

	<p>The modified code lives in: <a href="https://github.com/ramoscarlos/rsted" target="_blank">https://github.com/ramoscarlos/rsted</a>.</p>
</div>
{% endblock %}
