{% extends "base-bulma.html" %}

{% block additional_css %}
{{ super() }}
<link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}style/bulma-editor.css">
<script src="{{ request.script_root }}{{ MEDIA_URL }}scripts/editor-bulma.js"></script>
{% endblock additional_css %}

{% block content %}
<div class="columns">
    <div class="column">
        <textarea id="txtInput" class="textarea has-background-dark has-text-white" spellcheck="false" cols="1" rows="10">{% block output %}{% endblock output %}</textarea>
    </div>

    <div id="divSummary{{ bullets }}" class="column">
        <div id="divOutputContainer" class="has-background-black has-text-light is-size-4">
            <div id="divOutput"></div>
            <br>
        </div>
    </div>
</div>
{% endblock content %}